@use 'src/styles/media';

.root {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3.2rem;
    grid-row-gap: 70px;
    padding: 3.2rem;

    @include media.only('sm') {
      grid-template-columns: 100%;
      padding: 0;
    }
  }
}
