@use 'src/styles/media';
@use 'src/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 8rem;

  @include media.only('sm') {
    padding-top: 5rem;
  }

  &__main {
    flex-grow: 1;
  }

  &__content {
    max-width: 100rem;

    h1 {
      margin: 2.4rem 0;
      @include typography.displayMD;
      @include media.only('sm') {
        @include typography.displaySM;
      }
    }

    h2 {
      margin: 2.4rem 0;
      @include typography.displaySM;
      @include media.only('sm') {
        @include typography.displayXS;
      }
    }

    p {
      margin: 1.6rem 0;
      @include typography.textMD;
    }
  }
}
