@use 'src/styles/media';
@use 'src/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;

  &__heading {
    @include typography.textSM;
    color: var(--color-gray-300);
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    // reset ul
    margin: 0;
    padding: 0;
  }

  &__item {
    //reset li
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
  }

  a.root__link,
  button.root__link {
    white-space: normal;

    color: var(--color-gray-200);
    @include typography.textMDSemibold;

    &:hover {
      color: var(--color-white);
    }

    &:active,
    &:focus {
      color: var(--color-white);
    }

    &:disabled,
    &[disabled] {
      color: var(--color-gray-600);
    }
  }
}
