@use 'src/styles/colors';
@use 'src/styles/media';
@use 'src/styles/typography';

.jumbotron {
  position: relative;
  overflow: hidden;
  background: radial-gradient(49.21% 49.21% at 54.84% 50.94%, #2287df 0%, #005eaf 100%);
  padding: 6rem 0 6rem;

  @include media.phone {
    padding: 8rem 0 4rem;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: -50%;
  }

  &__header {
    //margin-top: 70px;
    @include media.phone {
      //margin-top: 30px;
      //height: 80px;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  color: colors.$white;

  &__title {
    @include typography.h1;
    text-transform: uppercase;
  }

  &__description {
    @include typography.subtitle2;
  }
}
