@use 'src/styles/media';
@use 'src/styles/typography';

.header {
  margin-bottom: 4rem;
  @include typography.displayMD;

  @include media.only('sm') {
    @include typography.displaySM;
    margin-bottom: 2rem;
    padding-top: 50px;
  }
}

.how-it-works {
  display: flex;
  margin-bottom: 60px;

  p {
    padding: revert;
    margin: revert;
  }

  @include media.only('md') {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  &__aside {
    width: 256px;
    margin-right: 3.2rem;
    flex-shrink: 0;
    @include media.only('md') {
      margin: 2rem 0;
      width: 100%;
    }
  }
}

.feedback {
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__text {
    a {
      color: #0066bf;
      text-decoration: none;
      border-bottom: 1px dashed;
    }
  }
}

.main {
  width: 100%;

  &__topics {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    //width: 100%;
  }
}
