@use 'src/styles/media';
@use 'src/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    flex-grow: 1;
  }

  &__content {
    margin-top: 8rem;
    max-width: 100rem;

    h1 {
      margin: 2.4rem 0;
      @include typography.displayMD;
    }

    h2 {
      margin: 2.4rem 0;
      @include typography.displaySM;
    }

    p {
      margin: 1.6rem 0;
      @include typography.textMD;
    }
  }
}
