@use 'src/styles/media';
@use 'src/styles/typography';

.page {
  overflow: hidden;
}

.content {
  margin-top: 8rem;

  @include typography.textSM;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: revert;
    margin: revert;
  }
}
